* {
  margin: 0;
 
 
}

body {
   background-color: #FEF6EB;
  
}

.my-form {
  text-align: center;
  line-height: 60px;
  margin: 40px;
  background-color: #525564;
  max-width: 35%;
  padding: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 20;
  border-radius: 30px;
  box-shadow: 0 0 25px gray;
  

}

.my-form span {
  font-size: 50px;
}

.my-form .title {
  font-size: 60px;
  width: 150%;
  text-transform: uppercase;
  font-family: 'Roboto Slab', san-serif;
  color: #74828F;
 
}

.my-form .inputoutput {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
 
}

.my-form .nameofconversion {
  text-transform: uppercase;
  color: #BEB9B5;
}
.my-form .inputoutput #number-input {
   background: #FEF6EB;
}

.my-form .inputoutput #number-result {
   background: #FEF6EB;
   pointer-events: none;
}

.my-form .choices {
  display: flex;
  justify-content: space-evenly;
  
}

.my-form .choices #inputType {
  font-size: 15px;
  background-color: #FEF6EB;
}

.my-form .choices #resultType{
  font-size: 15px;
   background-color: #FEF6EB;
}
